<div id="page-content">

  <h1 class="text-center mt-4">Result of the search: <%= pluralize(@articles.count, "article") %></h1>  

  <% if !@articles.empty? %> 
    <%= render "article" %>
  <% end %>

</div>