<div id="page-content">
  <div class="container p-5 mb-4 bg-light rounded-3" id="home-container">
    <div class="text-center container-fluid py-5">
        <h1 class="display-5 fw-bold">Welcome to Alpha Blog</h1>
        <p class="fs-4">Discover a world of knowledge, inspiration, and ideas at your fingertips. 
        Alpha Blog is your go-to destination for insightful articles, engaging stories, and thought-provoking discussions. 
        Whether you're a seasoned professional, an aspiring entrepreneur, or a curious individual seeking to broaden your horizons, 
        Alpha Blog has something for everyone. <%= link_to 'More about Alpha Blog', about_path %></p>
        <%= link_to "Sign up!", signup_path, class: "btn btn-success" %>
    </div>
  </div>
</div>

